@import '../../styles/variables';

.warrior-show {
  padding-top: 6rem;
  width: $container-width;
  max-width: 100%;
  display: flex;

  &__description {
    color: $color-text-white;
    text-align: center;
    padding: $space-medium 0;
  }
}
