@import '../../styles/variables';
@import '../../styles/mixins';

.warrior-show {
  @include container;

  &__description {
    color: $color-text-white;
    text-align: center;
    padding: $space-medium 0;
  }
}
