@import './variables';

@mixin container {
  padding-top: 6rem;
  width: $container-width;
  max-width: 100%;
  display: flex;
  margin: 0 auto;
}

@mixin button($color) {
  padding: $space-small $space-xlarge;
  font-size: $font-size-regular;
  border-radius: 1rem;
  color: $color-text-white;
  background-color: $color;
  font-weight: 700;
  transition: all 0.3s;
  text-align: center;

  &:hover {
    background-color: darken($color, 10%);
  }
}

@mixin pageTitle {
  color: $color-text-white;
  font-size: $font-size-h2;
  padding: 0 $space-xlarge;
  text-align: center;
  @media (max-width: $bp-600) {
    font-size: $font-size-h2-phone;
  }
}

@mixin warriorName {
  font-size: $font-size-h2;
  font-family: $font-family-decorative;
  color: $color-secondary;
  text-align: center;
  text-shadow: 0.1rem 0.1rem $color-primary;
}

@mixin superPowerTitle {
  color: $color-text-white;
  text-align: center;
  font-size: $font-size-h3;
  @media (max-width: $bp-600) {
    font-size: $font-size-h3-phone;
    margin-top: 0;
  }
}

@mixin superPowerContent {
  color: $color-primary;
  text-align: center;
  font-size: $font-size-regular;
  @media (max-width: $bp-600) {
    font-size: $font-size-h3-phone;
  }
}

@mixin navigationLink {
  color: $color-text-white;
  font-size: $font-size-regular;
  padding: 0 $space-small;
  font-weight: 700;
  transition: all 0.3s;

  &:hover {
    color: $color-secondary;
  }

  // &--mobile {
  //   margin-bottom: $space-large;
  // }

  // &--add {
  //   color: $color-positive;

  //   &:hover {
  //     color: darken($color-positive, 20%);
  //   }
  // }
}
