@import '../../styles/variables';
@import '../../styles/mixins';

.warrior-create {
  @include container;
  flex-direction: column;
  align-items: center;

  &__title {
    @include pageTitle;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__field {
    padding: $space-small;
    @media (max-width: $bp-600) {
      padding: 0 $space-small;
    }
  }

  &__label {
    display: block;
    color: $color-primary;
    padding: $space-small 0;
    font-size: $font-size-h3;
    font-family: $font-family-decorative;
  }

  &__input,
  &__select,
  &__textarea {
    width: 100%;
    padding: $space-small $space-xlarge $space-small $space-small;
    font-size: $font-size-regular;
    font-family: $font-family-regular;
    border-radius: 0;
    border: none;
    text-overflow: ellipsis;

    &--error {
      border: 0.3rem solid $color-negative;
    }
  }

  &__option {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__submit {
    @include button($color-positive);
    margin: $space-xlarge $space-small;
  }

  &__cancel {
    @include button($color-secondary);
    margin: 0 $space-small $space-xlarge $space-small;
  }

  &__error {
    padding: $space-small 0;
    color: $color-negative;
  }
}
