@import '../../styles/variables';

.warrior-create {
  display: flex;
  padding-top: 6rem;
  flex-direction: column;
  align-items: center;

  &__title {
    color: $color-text-white;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__field {
    padding: $space-small;
  }

  &__label {
    display: block;
    color: $color-primary;
    padding: $space-small;
  }

  &__input,
  &__select,
  &__textarea {
    width: 100%;
    padding: $space-small $space-xlarge $space-small $space-small;
    font-size: $font-size-regular;
    border-radius: 0;
    border: none;
    text-overflow: ellipsis;

    &--error {
      border: 0.3rem solid $color-secondary;
    }
  }

  &__option {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__submit {
    margin: $space-xlarge $space-small;
    padding: $space-small;
    font-size: $font-size-regular;
  }

  &__error {
    padding: $space-small;
    color: $color-secondary;
  }
}
