@import '../../styles/variables';
@import '../../styles/mixins';

.header {
  position: fixed;
  width: 100%;
  background-color: #00000070;
  padding: $space-medium;
  z-index: 4;

  &__navbar {
    max-width: $container-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    @include navigationLink;
  }
}
