@import '../../styles/variables';
@import '../../styles/mixins';

.warriors {
  max-width: $container-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 $space-large 6rem $space-large;
  @media (max-width: $bp-600) {
    padding: $space-small;
  }

  &__title {
    @include pageTitle;
  }
}

.BrainhubCarousel__arrows {
  background-color: $color-primary !important;
  border-radius: 50%;
  padding: $space-medium;
}

.BrainhubCarousel__dot {
  background: transparent;
}

.BrainhubCarousel__dot::before {
  background-color: $color-primary !important;
  width: 1rem !important;
  height: 1rem !important;
}
