@import '../../styles/variables';

.homepage {
  &__banner {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/homepage-background.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }
}
